html, body {
	position: relative;
	width: 100%;
}

body {
	color: #333;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.bg-color-0 {
	background-image: linear-gradient( 135deg, #F5CBFF 10%, #C346C2 100%);
}

.bg-color-1 {
	background-image: linear-gradient( 135deg, #90F7EC 10%, #32CCBC 100%);
}

.bg-color-2 {
	background-image: linear-gradient( 135deg, #FFF6B7 10%, #F6416C 100%);
}

.bg-color-3 {
	background-image: linear-gradient( 135deg, #FCCF31 10%, #F55555 100%);
}

.bg-color-4 {
	background-image: linear-gradient( 135deg, #5EFCE8 10%, #736EFE 100%);
}

